.about {
  padding-top: 20px;
  display: flex;
}

.aboutWrapper {
  flex: 9;
  padding: 20px;
}

.aboutTitle {
  text-align: center;
  margin: 10px;
  font-family: 'Lora', serif;
  font-size: 28px;
}

.aboutDesc {
  color: #333;
  font-size: 18px;
  line-height: 25px;
}

.aboutSpan {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
